<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/01dc01c3ab.js" crossorigin="anonymous"></script>
</head>

<body class="body__carrito">
    <header class="header-home">
        <div class="header-top">

        <figure>
          <a href="/"><img src="/img/logoBarra.png" alt="logo" /></a>
        </figure>
    
     
        <div class="header-burger">
          <button class="header--bars" onclick="document.querySelector('.header-menu').classList.toggle('showMenu')">
              <i class="fas fa-bars fa-lg"></i>
          </button>
        </div>
        <form action="/" class="header--seach">
          <input type="text" placeholder=" ¿ Que estas buscando ?" />
          <button><i class="fas fa-search"></i></button>
        </form>
        <nav class="header-login">
          <ul>
            <li>
              <a href="/creatucuenta"><img src="/img/logocuenta.png" alt="cuenta"></a>
            </li>
            <li>
              <a href="/carritocompras"><img src="/img/logocarrito.png" alt="carrito"></i></a>
            </li>
          </ul>
        </nav>
      </div>
            <nav class="header-menu">
              <ul>
                <div class="menu_movile-login">
                  <li><a href="/creatucuenta"><i class="fas fa-user-circle"></i></a></li>
                <li><a href="/carritocompras"><i class="fas fa-shopping-basket"></i></a></li>
                </div>
                <li><a href="/armatupc">Arma Tu Pc</a></li>
                <li><a href="/accesorios">Accesorios</a></li>
                <li><a href="/pantallas">Pantallas</a></li>
                <li><a href="/sillas">Sillas</a></li>
                <li><a href="/nuestroteam">Nuestro Team</a></li>
                <li><a href="/contactanos">Contactanos</a></li>
              </ul>
            </nav>
      </header>
      <div class="container">
    <main class="carrito__main">
        <div class="carrito__pruductos">
            <article class="carrito__productos-article">
                <div class="producto__img">
                    <img src="/img/producto1.png" alt="mather pc">
                </div>
                <div class="producto__info">
                <h4 class="producto__titulo">titulo de producto</h4>
                <h4 class="producto__precio">$0.00</h4>
                <p class="producto__descripcion">descripcion del producto</p>
           
                <div class="producto__cantidad-cont">
                    <button>-</button>
                    <button>1</button>
                    <button>+</button>
                    <h4 class="producto__total">$0.00</h4>
                </div>
                </div>
            </article>

            <div class="carrito__pruductos">
                <article class="carrito__productos-article">
                    <div class="producto__img">
                        <img src="/img/producto2.png" alt="mather pc">
                    </div>
                    <div class="producto__info">
                    <h4 class="producto__titulo">titulo de producto</h4>
                    <p class="producto__descripcion">descripcion del producto</p>
                    <h4 class="producto__precio">$0.00</h4>
                    <div class="producto__cantidad-cont">
                        <button>-</button>
                        <button>1</button>
                        <button>+</button>
                        <h4 class="producto__total">$0.00</h4>
                    </div>
                    </div>
                </article>

                <div class="carrito__pruductos">
                    <article class="carrito__productos-article">
                        <div class="producto__img">
                            <img src="/img/producto3.png" alt="mather pc">
                        </div>
                        <div class="producto__info">
                        <h4 class="producto__titulo">titulo de producto</h4>
                        <p class="producto__descripcion">descripcion del producto</p>
                        <h4 class="producto__precio">$0.00</h4>
                        <div class="producto__cantidad-cont">
                            <button>-</button>
                            <button>1</button>
                            <button>+</button>
                            <h4 class="producto__total">$0.00</h4>
                        </div>
                        </div>
                    </article>

                    <div class="carrito__pruductos">
                        <article class="carrito__productos-article">
                            <div class="producto__img">
                                <img src="/img/producto4.png" alt="mather pc">
                            </div>
                            <div class="producto__info">
                            <h4 class="producto__titulo">titulo de producto</h4>
                            <p class="producto__descripcion">descripcion del producto</p>
                            <h4 class="producto__precio">$0.00</h4>
                            <div class="producto__cantidad-cont">
                                <button>-</button>
                                <button>1</button>
                                <button>+</button>
                                <h4 class="producto__total">$0.00</h4>
                            </div>
                            </div>
                        </article>

                        <div class="carrito__pruductos">
                            <article class="carrito__productos-article">
                                <div class="producto__img">
                                    <img src="/img/producto4.png" alt="mather pc">
                                </div>
                                <div class="producto__info">
                                <h4 class="producto__titulo">titulo de producto</h4>
                                <p class="producto__descripcion">descripcion del producto</p>
                                <h4 class="producto__precio">$0.00</h4>
                                <div class="producto__cantidad-cont">
                                    <button>-</button>
                                    <button>1</button>
                                    <button>+</button>
                                    <h4 class="producto__total">$0.00</h4>
                                </div>
                                </div>
                            </article>
           

            <article class="main__envios">
                <div>
                    <h3>Alcanza el envio gratis</h3>
                    <div class="barra">
                        <div class="barra-carga"></div>
                    </div>
                    <p>agrega $0.00 para conseguirlo</p>
                </div>
                <button>Cancelar</button>
                <button>Comprar</button>
            </article>
        </div>
    </main>

    <aside class="aside">
        <div class="aside__section">

        <article class="aside__section-envios">
            <h2>playerOne Envios</h2>
            <button class="flecha"><i class="fas fa-sort-down"></i></button>
            <form action="/" class="aside__envios-cp">
                <input type="text" placeholder=" codigo postal">
            </form>
             <img src="/img/logo-correo-argentino-png.png" alt="logo correo argentino">
            <div class="correoargentino">
               
                <h5 class="aside__envios-dom">domicilio</h5>
                <h5 class="aside__envios-precio1">$0.00</h5>
                <h5 class="aside__envios-sucursal">sucursal</h5>
                <h5 class="aside__envios-precio2">$0.00</h5>
            </div>
            <img src="/img/LOGO_OCA_VIOLETA.png" alt="logo oca">
            <div class="correooca">

                <h5 class="aside__envios-dom">domicilio</h5>
                <h5 class="aside__envios-precio1">$0.00</h5>
                <h5 class="aside__envios-sucursal">sucursal</h5>
                <h5 class="aside__envios-precio2">$0.00</h5>
            </div>
        </article>

        <article class="aside__section-descuentos">
            <h2>playerOne Descuentos</h2>
            <button class="flecha"> <i class="fas fa-sort-down"></i></button>
            <h5>ingresa codigo de descuento</h5>
            <form action="/" class="aside__envios-cp">
                <input type="text" placeholder=" ">
            </form>
            <button class="aplicar">aplicar</button>
        </article>

        <article class="aside__section-pagos">
            <h2>playerOne Pagos</h2>
            <button class="flecha"> <i class="fas fa-sort-down"></i></button>
            <form id="registerForm" action="procesar_registro.php" method="POST" enctype="multipart/form-data">
                <input type="radio" id="comprador" name="perfil" value="comprador" required>
                <label for="comprador">Deposito | Trasferencia </label>
                <input type="radio" id="vendedor" name="perfil" value="vendedor" required>
                <label for="vendedor">Mercado Pago</label><br>
            </form>
            <h5>Total</h5>
            <h5>$0.00</h5>
        </article>

        </div>
        
    </aside>

</div>7


    <footer class="footer">
        <div class="footer-opciones">
          <div class="titulos-footer">
            <i class="fas fa-gamepad"></i>
            <h4>Sobre playerOne</h4>
            <ul>
              <li><a href="/">Nosotros</a></li>
              <li><a href="/">Libro de quejas</a></li>
              <li><a href="/">Nuestros servicios</a></li>
              <li><a href="/">Contactanos</a></li>
            </ul>
          </div>
  
          <div class="titulos-footer">
            <i class="fas fa-medkit"></i>
            <h4>Ayuda</h4>
            <ul>
              <li><a href="/">Preguntas Frecuentes</a></li>
              <li><a href="/">Como Comprar</a></li>
              <li><a href="/">Envio</a></li>
              <li><a href="/">Formas de pago</a></li>
            </ul>
          </div>
  
  
          <div class="titulos-footer">
          <h4>Nuestas Redes</h4>
          <div class="redes">
              <i class="fab fa-instagram"></i>
    
              <i class="fab fa-facebook-f"></i>
    
              <i class="fab fa-twitter"></i>
    
              <i class="fab fa-tiktok"></i>
    
              <i class="fab fa-twitch"></i>
            </div>
      </div>
  
        </div>
      </footer>
      
</body>

</html>