<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playerOne</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/38dad01958.js" crossorigin="anonymous"></script>
</head>

<body class="home">

    <header class="header-home">
        <div class="header-top">
        <figure>
          <a href="/"><img src="/img/logoBarra.png" alt="logo" /></a>
        </figure>
    
     
        <div class="header-burger">
          <button class="header--bars" onclick="document.querySelector('.header-menu').classList.toggle('showMenu')">
              <i class="fas fa-bars fa-lg"></i>
          </button>
        </div>
        <form action="/" class="header--seach">
          <input type="text" placeholder=" ¿ Que estas buscando ?" />
          <button><i class="fas fa-search"></i></button>
        </form>
        <nav class="header-login">
          <ul>
            <li>
              <a href="/creatucuenta"><img src="/img/logocuenta.png" alt="cuenta"></a>
            </li>
            <li>
              <a href="/carritocompras"><img src="/img/logocarrito.png" alt="carrito"></i></a>
            </li>
          </ul>
        </nav>
      </div>
            <nav class="header-menu">
              <ul>
                <div class="menu_movile-login">
                  <li><a href="/creatucuenta"><i class="fas fa-user-circle"></i></a></li>
                <li><a href="/miscompras"><i class="fas fa-shopping-basket"></i></a></li>
                </div>
                <li><a href="/armatupc">Arma Tu Pc</a></li>
                <li><a href="/accesorios">Accesorios</a></li>
                <li><a href="/pantallas">Pantallas</a></li>
                <li><a href="/sillas">Sillas</a></li>
                <li><a href="/nuestroteam">Nuestro Team</a></li>
                <li><a href="/contactanos">Contactanos</a></li>
              </ul>
            </nav>
      </header>


    <main class="home__main">
        <div class="main__div__banner">
          <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/banner/banner_home1.png" class="d-block w-100 h-300px p-1" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/img/banner/banner_home2.jpg" class="d-block w-100 h-300px" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/img/banner/banner_home3.jpg" class="d-block w-100 h-300px" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

   
        <section class="main_section">
           <h2>Oferta de la Semana</h2>
            <article class="main__section__article--ofertas">
                <h1>Monitor Led VA Curvo 24"</h1>
                <h3>$113.612</h3>
                <img src="/img/detalleProducto_1.jpg" alt="" width="100%">
                <a href="/detalleProducto"> Ver detalle</a>
            </article>
        </section>

        <section class="main__section__productosdestacados">
          <h2>Nuestro productos destacados</h2>
            <article class="">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <img src="/img/products/product-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">$408.772</h5>
                                <p class="card-text">NOTEBOOK LENOVO 15.6" V15 RYZEN 5 5500U 8GB 256GB</p>
                                <a href="#" class="btn btn-primary">ver detalle</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">

                        <div class="card">
                            <img src="/img/products/product-2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">$47.320</h5>
                                <p class="card-text">HD SSD 1TB PATRIOT P400 LITE M.2 NVME GEN4 3500MB/S 2280</p>
                                <a href="#" class="btn btn-primary">ver detalle</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <img src="/img/products/product-3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">$275.548</h5>
                                <p class="card-text">MONITOR GAMER CURVO 32" SAMSUNG ODYSSEY G5</p>
                                <a href="#" class="btn btn-primary">ver detalle</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card"  >
                            <img src="/img/products/product-4.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">$408.408</h5>
                                <p class="card-text">VIDEO GEFORCE RTX 3060 TI 8GB MSI VENTUS 3X OC EDITION</p>
                                <a href="#" class="btn btn-primary">ver detalle</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <img src="/img/products/product-5.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">$56.420</h5>
                                <p class="card-text">GABINETE XFX YOROI GC-03HE 6 COOLERS RGB</p>
                                <a href="#" class="btn btn-primary">ver detalle</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">

                        <div class="card"  >
                            <img src="/img/products/product-6.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">$280.280</h5>
                                <p class="card-text">PC ARMADA AMD RYZEN 5 5600G+B550+8GB+240GB</p>
                                <a href="#" class="btn btn-primary">ver detalle</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>

         </article>
        </section>
        <section class="main__section__marcas">
        <h4>Las mejores marcas para vos</h4>
        <slider class="main__section__slider--marcas">
            
            <img src="/img/marcas/marcas-1.png" alt="">
            <img src="/img/marcas/marcas-2.png" alt="">
            <img src="/img/marcas/marcas-3.png" alt="">
            <img src="/img/marcas/marcas-4.png" alt="">
            <img src="/img/marcas/marcas-5.png" alt="">
            <img src="/img/marcas/marcas-6.png" alt="">
        </slider>
      </section>
    </main>




    <footer class="footer">
      <div class="footer-opciones">
        <div class="titulos-footer">
          <i class="fas fa-gamepad"></i>
          <h4>Sobre playerOne</h4>
          <ul>
            <li><a href="/">Nosotros</a></li>
            <li><a href="/">Libro de quejas</a></li>
            <li><a href="/">Nuestros servicios</a></li>
            <li><a href="/">Contactanos</a></li>
          </ul>
        </div>

        <div class="titulos-footer">
          <i class="fas fa-medkit"></i>
          <h4>Ayuda</h4>
          <ul>
            <li><a href="/">Preguntas Frecuentes</a></li>
            <li><a href="/">Como Comprar</a></li>
            <li><a href="/">Envio</a></li>
            <li><a href="/">Formas de pago</a></li>
          </ul>
        </div>


        <div class="titulos-footer">
        <h4>Nuestas Redes</h4>
        <div class="redes">
            <i class="fab fa-instagram"></i>
  
            <i class="fab fa-facebook-f"></i>
  
            <i class="fab fa-twitter"></i>
  
            <i class="fab fa-tiktok"></i>
  
            <i class="fab fa-twitch"></i>
          </div>
    </div>

      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script src="/js/carrousel_swiper.js"></script>
</body>

</html>