<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playerOne</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/38dad01958.js" crossorigin="anonymous"></script>
</head>

<body class="home">


    <header class="home__header">

    </header>

    <main class="home__main">
        <div>
            <img src="" alt="">
        </div>
        <div>
          
        </div>
        <section>
            <article>
                <h3></h3>
                <img src="" alt="">
            </article>
            <article>
                <h3></h3>
                <img src="" alt="">
            </article>
        </section>
        <section>
            <div>
                <button type="button"></button>
                <button type="button"></button>
                <button type="button"></button>
                <button type="button"></button>
            </div>
        </section>
        <section>
            <article>
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quidem ipsa expedita magnam
                    eveniet at cumque quis sed, pariatur hic! Excepturi, atque accusantium! Distinctio ipsum eius
                    voluptatem quos inventore harum?</p>
                <h4></h4>
                <button type="submit"></button>
            </article>
            <article>
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quidem ipsa expedita magnam
                    eveniet at cumque quis sed, pariatur hic! Excepturi, atque accusantium! Distinctio ipsum eius
                    voluptatem quos inventore harum?</p>
                <h4></h4>
                <button type="submit"></button>
            </article>
            <article>
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quidem ipsa expedita magnam
                    eveniet at cumque quis sed, pariatur hic! Excepturi, atque accusantium! Distinctio ipsum eius
                    voluptatem quos inventore harum?</p>
                <h4></h4>
                <button type="submit"></button>
            </article>
        </section>
        <slider>
            <h3>Marcas Recomendadas</h3>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </slider>
    </main>




    <footer class="home__footer">


    </footer>


</body>

</html>