<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/38dad01958.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>

    </header>
    <main>
        <section class="main__section--titleproduct">
            <h1></h1>
            <h2></h2>
        </section>
       <div class="main__div__img--container">
        <img src="" alt="">
       </div>
       <section class="main__section--productbutton">
        <h2 class="main__h2--precio"></h2>
        <button type="button"></button>
        <button type="submit"></button>
        <button type="submit"></button>

       </section>
       <section class="main__section--especificaciones">
        <h2></h2>
        <article class="main__section--general">
            <h3></h3>
            <p></p>
            <p></p>
            <p></p>
        </article>
        <article class="main__section--caracteristicas">
            <h3></h3>
            <p></p>
            <p></p>
            <p></p>
        </article>
       </section>
     

    </main>
    <footer>

    </footer>
    
</body>
</html>