<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/38dad01958.js" crossorigin="anonymous"></script>

</head>
<body>

    <header class="header-home">
        <div class="header-top">
        <figure>
          <a href="/"><img src="/img/logoBarra.png" alt="logo" /></a>
        </figure>
    
     
        <div class="header-burger">
          <button class="header--bars" onclick="document.querySelector('.header-menu').classList.toggle('showMenu')">
              <i class="fas fa-bars fa-lg"></i>
          </button>
        </div>
        <form action="/" class="header--seach">
          <input type="text" placeholder=" ¿ Que estas buscando ?" />
          <button><i class="fas fa-search"></i></button>
        </form>
        <nav class="header-login">
          <ul>
            <li>
              <a href="/login"><img src="/img/logocuenta.png" alt="cuenta"></a>
            </li>
            <li>
              <a href="/carritocompras"><img src="/img/logocarrito.png" alt="carrito"></i></a>
            </li>
          </ul>
        </nav>
      </div>
            <nav class="header-menu">
              <ul>
                <div class="menu_movile-login">
                  <li><a href="/login"><i class="fas fa-user-circle"></i></a></li>
                <li><a href="/carritocompras"><i class="fas fa-shopping-basket"></i></a></li>
                </div>
                <li><a href="/armatupc">Arma Tu Pc</a></li>
                <li><a href="/accesorios">Accesorios</a></li>
                <li><a href="/pantallas">Pantallas</a></li>
                <li><a href="/sillas">Sillas</a></li>
                <li><a href="/nuestroteam">Nuestro Team</a></li>
                <li><a href="/contactanos">Contactanos</a></li>
              </ul>
            </nav>
      </header>

    <main class="register__main">


        <div class="logo-container">
            <img src="/img/logoForm.png" alt="Logo">
        </div>

        <div class="content-container">

            <div class="form-container">
                <div class="input-group">
                    <label for="correo">Nombre de Usuario o Correo</label>
                    <input type="text" id="correo" placeholder="Correo electrónico" required>
                </div>
                <div class="input-group">
                    <label for="clave">Ingresar Clave</label>
                    <input type="password" id="clave" placeholder="Contraseña" required>
                </div>

                <div class="input-group">
                    <label for="clave2">Repetir Clave</label>
                    <input type="password" id="clave2" placeholder="Repita Contraseña" required>
                </div>
                
                <div class="input-group-terms">
                    <input type="checkbox" id="terms">
                    <label for="terms">Acepta los Términos, Condiciones y Políticas de playerOne</label>
                </div>
                
            
                <button class="login-button">REGISTRARSE</button>

            </div>

            

            <div class="other-options">
                <p>o continúa con</p>
                <button class="login__social-button">
                    <i class="fa-brands fa-facebook"></i>
                    Facebook
                </button>
                <button class="login__social-button">
                    <i class="fa-brands fa-google-plus"></i>
                    Google
                </button>
            </div>

        </div>


    </main>

    <footer class="footer">
        <div class="footer-opciones">
          <div class="titulos-footer">
            <i class="fas fa-gamepad"></i>
            <h4>Sobre playerOne</h4>
            <ul>
              <li><a href="/">Nosotros</a></li>
              <li><a href="/">Libro de quejas</a></li>
              <li><a href="/">Nuestros servicios</a></li>
              <li><a href="/">Contactanos</a></li>
            </ul>
          </div>
  
          <div class="titulos-footer">
            <i class="fas fa-medkit"></i>
            <h4>Ayuda</h4>
            <ul>
              <li><a href="/">Preguntas Frecuentes</a></li>
              <li><a href="/">Como Comprar</a></li>
              <li><a href="/">Envio</a></li>
              <li><a href="/">Formas de pago</a></li>
            </ul>
          </div>
  
  
          <div class="titulos-footer">
          <h4>Nuestas Redes</h4>
          <div class="redes">
              <i class="fab fa-instagram"></i>
    
              <i class="fab fa-facebook-f"></i>
    
              <i class="fab fa-twitter"></i>
    
              <i class="fab fa-tiktok"></i>
    
              <i class="fab fa-twitch"></i>
            </div>
      </div>
  
        </div>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script src="/js/carrousel_swiper.js"></script>


    
</body>
</html>