/* FOOTER */
.footer{}
.footer-opciones{
}
.titulos-footer{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
    margin: 0;
}
.titulos-footer i{
    color: var(--colorGrisClaro);
    margin-top: 17px;
    margin: 0 4%;
}
.titulos-footer h4{
    color: var(--colorVerdeClaro);
    margin: 14px 0;
}
.titulos-footer ul{}
.titulos-footer li{
    padding: 7px;
}
.titulos-footer a{
    color: var(--colorGrisOscuro);
}
.redes{
    color: var(--colorGrisOscuro);
    text-align: center;
    padding: 7px;
}
@media (min-width: 481px) {
    .footer-opciones{
        display: flex;
    }
    .titulos-footer {
        display: inline-block;
        vertical-align: top;
        margin: 4% 4%;
        text-align: center;
    }
    
}

@media (min-width: 769px) {

    }
}

@media (min-width: 1280px) {
    
}