:root {
    --colorNegro : #000;
    --colorGrisClaro: #dffee0;
    --colorGrisOscuro: #708E70;
    --colorVerde:#01F603;
    --colorVerdeClaro:#019A02;
    --colorVerdeOscuro: #001F00;
    --fuente1: 'Quicksand', sans-serif;
    --fuente2: 'Righteous', cursive;
    --fuente3: 'Source Sans 3', sans-serif;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{

    font-family: 'roboto';
    background: var(--colorNegro);
    
    
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

