:root {
    --colorNegro : #000;
    --colorGrisClaro: #dffee0;
    --colorGrisOscuro: #708E70;
    --colorVerde:#01F603;
    --colorVerdeClaro:#019A02;
    --colorVerdeOscuro: #001F00;


}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{

font-family: 'roboto';

}

li{
    list-style-type: none;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #ffffff;
}

