

/*BARRA LATERAL*/

.barra-lateral {
    background: var(--colorGrisOscuro);
    min-width: 200px;
    padding: 0;
}

.barra-lateral button {
    color: #fff;
}


/*ESTILOS MENU*/

.barra-lateral .menu button {
    display: block;
    padding: 20px;
    font-weight: 900;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    width: 100%;
}

.barra-lateral .menu button:hover {
    background-color: var(--colorVerde);
    text-decoration: none;
}

.active {
    background: var(--colorGrisOscuro);
}

.barra-lateral .menu {
}



/*MAIN*/


.main .columna {
    padding-left: 20px;
    width: 95%;
    padding-right: 20px;
}


.btn-dark{
  margin: 10px;
}
.form-select{
    margin: 10px;
}
.form-control{
    margin: 10px;
}


.form-control:focus {
    box-shadow: 0px 0px 5px var(--colorVerde);
}

.form-select:focus{
box-shadow: 0px 0px 5px var(--colorVerde);
}

.tab-content>.active {
}
