.body__carrito{}
.carrito__main{
    background-color:  black;
}
.carrito__main-cont{
    display: flex;
}
.carrito__main-cont ul {display: none;}
.carrito__main-cont li {}
.carrito__pruductos {}
.carrito__productos-article {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    align-items: center;
    margin: 5px 12px;
    box-shadow: -8px 0px 5px -1px #01F603;
    border-radius: 7px;
}
.producto__img{align-items: center;background-color: #fff;width: 29%;display: flex;justify-content: center;box-shadow: 6px 5px 12px 3px rgba(0,0,0,0.3);border-radius: 11px;}
.producto__img img{
    height: 3em;
    margin: 10px;
}
.producto__info{text-align: center;font-family: var(--fuente3);}
.producto__titulo{
    margin: 0;
}
.producto__descripcion{
    flex: 1;
    margin: 0;
}
.producto__precio{color: var(--colorGrisClaro);}
.producto__cantidad-cont{
    display: flex;
    align-items: center;
    margin-left: 41px;
}
.producto__cantidad-cont button{background-color: #fff;border: solid 1px black;text-align: center;height: 17px;width: 13px;color: var(--colorVerdeOscuro);border-radius: 3px;}
.producto__total{
    margin-left: 10px;
    color: var(--colorVerde);
}
.main__envios{
    display: inline-flex;
    place-content: flex-start;
}
.main__envios h3{
    color: #ffffff;
    text-align: initial;
    font-size: 10px;
    position: absolute;
    font-family: var(--fuente1);
    font-weight: 900;
}
.main__envios p{
    font-family: var(--fuente1);
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    font-weight: 100;
    margin-top: 25px;
}
.main__envios button {
    background-color: var(--colorGrisOscuro);
    border: solid 2px var(--colorVerde);
    border-radius: 7px;
    width: 26%;
    font-size: smaller;
    height: 22px;
    color: #ffffff;
    margin: 9px;
}


.aside{
    background-color: var(--colorNegro);
}
.aside__section{
    display: flex;
    flex-direction: column;
}
.aside__section-envios{
    background-color: var(--colorGrisOscuro);
    display: flex;
    border-radius: 8px;
    justify-content: center;
    height: 35px;
    width: 95%;
    margin: 8px;
}
.aside__section-envios h2 {
    font-family: var(--fuente1);
    font-weight: 400;
    padding: 2px;
}
.aside__envios-cp{
    display: none;
}
.flecha{
    color: #fff;
    background-color: gray;
    border: solid 1px var(--colorVerde);
    margin: 5px;
    border-radius: 32%;
    height: 20px;
    width: 17px;
}
.aside__envios-cp input{
    border-radius: 9%;
    height: 19px;
    width: 96px;
    border: none;
    margin: 4px 0px 7px 27px;
    color: var(--colorVerdeOscuro);
    text-align: center;
}
.aside__section-envios img{
    display: none;
}
.aside__envios-dom{
    display: none;
}
.aside__envios-precio1{
    display: none;
}
.aside__envios-sucursal{
    display: none;
}
.aside__envios-precio2{
    display: none;
}
.aside__section-descuentos{
    background-color: var(--colorGrisOscuro);
    display: flex;
    border-radius: 8px;
    justify-content: center;
    height: 35px;
    width: 95%;
    margin: 8px;
}
.aside__section-descuentos h2{
    font-family: var(--fuente1);
    font-weight: 400;
    margin-left: 24px;
}
.aside__section-descuentos button {
}
.aside__section-descuentos h5{
    display: none;
}
.aplicar{
    display: none;
}
.aside__section-descuentos form {}
.aside__section-descuentos button{}
.aside__section-pagos{
    flex-wrap: wrap;
    background-color: var(--colorGrisOscuro);
    display: flex;
    border-radius: 8px;
    justify-content: center;
    height: 59px;
    width: 95%;
    margin: 8px;
}
.aside__section-pagos h2{

    font-family: var(--fuente1);
    font-weight: 400;
}
.aside__section-pagos form{
    display: none;
}
.aside__section-pagos h5 {
    align-items: center;
    display: flex;
    margin: 0px 16px 0px 30px;
    font-size: 16px;
    font-family: var(--fuente1);
    font-weight: 900;
    color: var(--colorVerde);
}

/* tablet */


@media (min-width: 768px) {
    .flecha {
        display: none;
    }

    .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carrito__main {
  flex: 1;
  min-width: 0;
}

.aside {
  flex: 1;
  min-width: 0;
}
.aside__section-envios img{
    height: 1em;
    display: block;
    width: 4em;
    margin: 8px 0px 0px 149px;
    position: absolute;
}
.aside__envios-dom{
    display: block;
}
.aside__envios-precio1{
    display: block;
}
.aside__envios-sucursal{
    display: block;
}
.aside__envios-precio2{
    display: block;
}
.aside__section-descuentos h5{
    display: block;
    text-align: center;
}
.aplicar{
    display: block;
    background-color: #fff;
}
.aside__section-pagos form{
    display: block;
    font-size: small;
    margin-left: 6px;
}
.aside__section-envios {
    display: block;
    height: 218px;
}
.aside__section {
    display: block;
    margin: 12px 0px;
    font-family: var(--fuente3);
}
.correoargentino{
    display: flex;
    justify-content: space-between;
    padding: 22px;
    border-top: solid 2px var(--colorVerde);
}
.correooca{
    display: flex;
    justify-content: space-between;
    padding: 22px;
    border-top: solid 2px var(--colorVerde);
    border-bottom: solid 2px var(--colorVerde);
}
.aside__section-envios h2 {

text-align: center;
}
.aside__envios-cp {
    display: block;
    margin-left: 33%;
}
.aside__section-descuentos {
    display: flex;
    flex-direction: column;
    height: 118px;
}
.aside__section-descuentos h2 {
    text-align: center;
    font-family: var(--fuente1);
    font-weight: 400;
    padding: 2px;
}
.aside__section-descuentos button {
    
width: 20%;
    
height: 25px;
    
border-radius: 19px;
    
border: none;
    
margin-left: 39%;
    
border: solid 2px var(--colorVerdeOscuro);
    
margin-bottom: 12px;
}
.aside__section-pagos {
    display: flex;
    flex-wrap: wrap;
    height: 109px;
}
.aside__section-pagos h2 {
    text-align: center;
    font-family: var(--fuente1);
    font-weight: 400;
    padding: 2px;
}
.aside__section-pagos h5 {}
}

/* destop */ 
@media (min-width: 1024px) {
    .producto__img {
        margin: 0 98px 0px 0px;
    }
    .aside__envios-cp input {}
    .aside__section-pagos h5 {
        height: 10%;
        width: 25%;
    }
    .aside__section-descuentos form {margin-left: 33%;}
    .aside__envios-cp {}
}