.login{
  background-image: url('/images/fondocolores.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  color: aliceblue;
}
.content-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{flex-direction: column;}

.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.register-container p {
    font-size: small;
    font-weight: lighter;
}

.register-container h3 {
  font-weight: bold;
  font-size: larger;
}
.remember-pass {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-button{
    padding: 6px 18px;
    margin: 2% 0 2% 44%;
    border: none;
    border-radius: 0 30%;
}

.other-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.options{text-align: center;}

.other-options button {}

