.body__producto{color: #fff;font-family: var(--fuente1);}

  
  .form-container {
    max-width: 700px;
    margin: 30px;
    background-color: var(--colorVerdeOscuro);
    padding: 30px;
    border-left: 5px solid var(--colorVerde);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
  
  .heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .form-container .form .input {
    color: #fff;
    width: 40%;
    background-color: var(--colorGrisOscuro);
    border: none;
    outline: none;
    padding: 10px;
    font-weight: bold;
    margin: 0 0 25px 25px;
    transition: all 0.2s cubic-bezier(0.39, 0.02, 0.58, 1);
    border-left: 1px solid transparent;
  }
  
  .form-container .form .input:focus {
    border-left: 5px solid var(--colorVerde);
  }
  
  .form-container .form .textarea {
    width: 85%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--colorGrisOscuro);
    color: #fff;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin: 0px 0px 13px 25px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .textarea:focus {
    border-left: 5px solid var(--colorVerde);
  }
  
  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }
  
  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: var(--colorVerde);
    padding: 10px;
    color: var(--colorVerdeOscuro);
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid var(--colorVerde);
    color: var(--colorVerde);
  }
  
  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px var(--colorVerde));
    flex-basis: 30%;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: var(--colorVerde);
    font-weight: bold;
    background: var(--colorVerdeOscuro);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button:hover {
    background: var(--colorVerde);
    color: var(--colorVerdeOscuro);
  }

  input .placeholder {
    color: #fff;
  }