/* HEADER */


@media (min-width: 481px) {

}

@media (min-width: 769px) {
    
}

@media (min-width: 1280px) {
    
}



/* MAIN */

/* MOBILE */
body{
    background-color: var(--colorGrisOscuro);

}
/* main{
    /* margin-top: 40px; */

.main__div__section--titleproduct{
    font-family: var(--fuente3);
    text-align: center;
    margin: 10px;
}
.main__div__section--titleproduct h1{
    
    border-bottom: 1px solid var(--colorVerde);
    margin: 10px 40px;
    color:#fff

}
.main__div__section--titleproduct h2{
    color: #fff;
}
.main__div--product{
 margin-top: 40px;
} 
 
.carousel-indicators button{
    filter: invert(108%);
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(108%)
}
.main__div__section__precioybotones{
    margin: 20px;
    font-family: var(--fuente1);
}
.main__div__section__precioybotones__h2--precio{
    text-align: center;
    margin: 10px;
    -webkit-text-stroke: 1px black;
    font-size: 3em;
    color: var(--colorVerde);
    
}
.main__div__section__preciosybotones__div--productbuttons__section{
    display: none;
}
.main__div__section__precioybotones__div--productbuttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.main__div__section__precioybotones__div--productbuttons button{
    background-color: var(--colorVerde);
    color: antiquewhite;
    font-size: 1.5em;
    border-radius: 15px;
    padding: 10px;
    margin: 1px 20px;

}
.main__section--especificaciones{
    background-color: var(--colorGrisClaro);
    font-family: var(--fuente1);
    padding: 10px;
    width: 100%;
    margin: 0;
}

.main__section--especificaciones h2{
    text-align: center;
    font-weight: bolder;
    margin:10px
}
.main__section--especificaciones h3{
    font-weight: bolder;
    border-bottom: 1px solid var(--colorVerde);
}

/* TABLET */
@media (min-width: 768px) {
    .main__div--product{
        display: flex;
        flex-direction: row;
        margin:10px;
        width: 100%;
        flex-wrap:wrap;
        justify-content: space-around;
        
    }
.main__div__img--container{
    order:-1;
    padding: 10px;
    width: 45%;
}
.carousel-item{
    border: 15px solid var(--colorVerde);
    border-radius: 10px;
}
.main__div--detalle{
    display: flex;
    width: 45%;
    text-align: center;
    flex-direction: column;
    
}
.main__div__section--titleproduct{
    font-size: 10px;
    align-items: flex-start;
    height: 30%;
}
.main__div__section__precioybotones{
    margin: 0;
     
}
.main__section--especificacion__div{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.main__div__section__preciosybotones__div--productbuttons__section{
    display:flex;
    justify-content: center;
    align-items: stretch;

}
.main__div__section__preciosybotones__div--productbuttons__section p{
    background-color: var(--colorGrisClaro);
    text-align: center;
    border: solid 2px;
    font-size: 1.5em;
    margin: 0;
    padding: 10px 80px;

}
.main__div__section__precioybotones__div--productbuttons #boton{
    background-color: var(--colorGrisClaro);
    width: 50px;
    color: black;
    margin: 0;
    border-radius: 0%;
    ;
    
}
/* DESKTOP */
@media (min-width: 1024px) {
.main__div--product{
        display: flex;
        flex-direction: row;
        /* margin:10px; */
        width: 100%;
        flex-wrap:wrap;
        justify-content: space-around;
        
    }
.main__div__img--container{
    order:-1;
    padding: 10px;
    width: 45%;
}
.carousel-item{
    border: 15px solid var(--colorVerde);
    border-radius: 10px;
}
.main__div--detalle{
    display: flex;
    width: 45%;
    text-align: center;
    flex-direction: column;
    
}
.main__div__section--titleproduct{
    font-size: 10px;
    align-items: flex-start;
    height: 20%;
    margin: 10px
}
.main__div__section__precioybotones__h2--precio{
    background-color: var(--colorGrisClaro);
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
}
.main__div__section__precioybotones{
    margin: 30px;
     
}
.main__section--especificacion__div{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.main__div__section__preciosybotones__div--productbuttons__section{
    display:flex;
    justify-content: center;
    align-items: stretch;
    

}
.main__div__section__preciosybotones__div--productbuttons__section p{
    background-color: var(--colorGrisClaro);
    text-align: center;
    border: solid 2px;
    font-size: 1.5em;
    margin: 0;
    padding: 26px 200px;

}
.main__div__section__precioybotones__div--productbuttons #boton{
    background-color: var(--colorGrisClaro);
    width: 50px;
    color: black;
    margin: 0;
    border-radius: 0%;
    ;
    
}
}



/* FOOTER */


@media (min-width: 481px) {

}

@media (min-width: 769px) {
    
}

@media (min-width: 1280px) {
    
}}