<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | Not Found</title>

   <!-- Link CSS -->
   <link rel="stylesheet" href="/stylesheets/styles.css">
   
</head>
<body class="body__404">
    <div class="contenedor_404">
<img src="/images/404_NOT_FOUND_Homer.png" alt="">
</div>
</body>
</html>