<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class="login">

  <%- include('partials/header') %>

    <main class="login__main">

    
        <div class="logo-container">
            <img src="/img/logoForm.png" alt="Logo">
        </div>

        <div class="content-container">

            <div class="form-container">
                <div class="input-group">
                    <label for="correo">Ingresar Correo</label>
                    <input type="mail" id="correo" placeholder="Correo electrónico">
                </div>
                <div class="input-group">
                    <label for="clave">Ingresar Clave</label>
                    <input type="password" id="clave" placeholder="Contraseña">
                </div>
                
                <div class="input-group-remember">
                    <input type="checkbox" id="remember-pass">
                    <label for="remember-pass">Recordar Contraseña</label>
                </div>
                
                <div class="forgot-password">
                    <a href="#">Olvide mi Clave</a>
                </div>
                <button class="login-button">LOGIN</button>

            </div>

            <div class="register-container">
                <p>¿Aún no tienes cuenta?</p>
                <a href="/registro">
                    <h3>Registrate</h3>
                </a>


            </div>

            <div class="other-options">
                <p>o continúa con</p>
                <button class="login__social-button">
                    <i class="fa-brands fa-facebook"></i>
                    Facebook
                </button>
                <button class="login__social-button">
                    <i class="fa-brands fa-google-plus"></i>
                    Google
                </button>
            </div>

        </div>


        
    



    </main>

    <%- include('partials/footer') %>

    <%- include('partials/scripts') %>

</body>

</html>