<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
    
    <main>
        <div class="main__div--product">
       

         <div class="main__div__img--container">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/detalleProducto_1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/detalleProducto_2.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/detalleProducto_3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <div class="main__div__img--container__div--flechitas">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
         </div>
         <div class="main__div--detalle" >
            <section class="main__div__section--titleproduct">
             <h1>Monitor Led VA Curvo 24"</h1>
             <h2>SAMSUNG</h2>
            </section>
            <section class="main__div__section__precioybotones">
            <h2 class="main__div__section__precioybotones__h2--precio">$113.612</h2>
           <div class="main__div__section__precioybotones__div--productbuttons">
            <section class="main__div__section__preciosybotones__div--productbuttons__section">
            <button id="boton">-</button>
            <p>1</p>
            <button id="boton">+</button>
            </section>
            <button type="submit">Agregar al carrito</button>
            <button type="submit">Calcular envio</button>
            </div>
            </section>
         </div>
          </div>
        </section>
        <section class="main__section--especificaciones">
            <h2>Especificaciones del Producto</h2>
            <div class="main__section--especificacion__div">
            <article class="main__section--general">
                <h3>General</h3>
                <p>Tipo de panel : VA</p>
                <p>Pantalla : Curva</p>
                <p>Tamaño de Pantalla :24’</p>
            </article>
            <article class="main__section--caracteristicas">
                <h3>Caracteristicas</h3>
                <p>Consumo 35 w</p>
                <p>Resolucion maxima: 1920 x 1080</p>
                <p>Frecuenca: 144 Hz</p>
            </article>
            </div>
        </section>


    </main>

  <%- include('partials/footer') %>
    
</body>
</html>