<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main class="register__main">


        <div class="logo-container">
            <img src="/images/logoForm.png" alt="Logo">
        </div>

        <div class="content-container">
            <form action="" method="POST" >
               <div class="form-container">
                <div class="input-group">
                    <label for="name">Nombre</label>
                    <input type="text" name ="name"id="name" placeholder="Nombre" required>
                </div>
                <div class="input-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" name ="lastName"id="lastName" placeholder="Apellido" required>
                </div>
                <div class="input-group">
                    <label for="email">Correo electronico</label>
                    <input type="text" name ="email"id="email" placeholder="Correo electrónico" required>
                </div>
                <div class="input-group">
                    <label for="password">Ingresar Clave</label>
                    <input type="password" name="password" id="password"placeholder="Contraseña" required>
                </div>

                <div class="input-group">
                    <label for="password2">Repetir Clave</label>
                    <input type="password" name ="password2" placeholder="Repita Contraseña" required>
                </div>
                
                <div class="input-group-terms">
                    <input type="checkbox" id="terms">
                    <label for="terms">Acepta los Términos, Condiciones y Políticas de playerOne</label>
                </div>
                
            
                <button class="login-button">REGISTRARSE</button>

               </div>

            
             </form> 
            <div class="other-options">
                <p>o continúa con</p>
                <button class="login__social-button">
                    <i class="fa-brands fa-facebook"></i>
                    Facebook
                </button>
                <button class="login__social-button">
                    <i class="fa-brands fa-google-plus"></i>
                    Google
                </button>
            </div>

        </div>


    </main>

    <%- include('partials/footer') %>
    
</body>

</html>