<footer class="footer">
  <div class="footer-opciones">
    <div class="titulos-footer">
      <i class="fas fa-gamepad"></i>
      <h4>Sobre playerOne</h4>
      <ul>
        <li><a href="/">Nosotros</a></li>
        <li><a href="/">Libro de quejas</a></li>
        <li><a href="/">Nuestros servicios</a></li>
        <li><a href="/">Contactanos</a></li>
      </ul>
    </div>

    <div class="titulos-footer">
      <i class="fas fa-medkit"></i>
      <h4>Ayuda</h4>
      <ul>
        <li><a href="/">Preguntas Frecuentes</a></li>
        <li><a href="/">Como Comprar</a></li>
        <li><a href="/">Envio</a></li>
        <li><a href="/">Formas de pago</a></li>
      </ul>
    </div>


    <div class="titulos-footer">
    <h4>Nuestas Redes</h4>
    <div class="redes">
        <i class="fab fa-instagram"></i>

        <i class="fab fa-facebook-f"></i>

        <i class="fab fa-twitter"></i>

        <i class="fab fa-tiktok"></i>

        <i class="fab fa-twitch"></i>
      </div>
</div>

  </div>
</footer>